@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Custom video controls styling */
video::-webkit-media-controls-panel {
  background-color: transparent;
}

video::cue {
  font-size: var(--subtitle-font-size, 16px);
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
